Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
python-dotenv==1.2.1
python-binance==1.0.30
requests==2.32.5
cffi==1.15.1
argon2-cffi==25.1.0
pytz==2025.2
pycryptodome==3.23.0
